@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}

* {
  box-sizing: border-box;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-sponsors {
  height: auto !important;
  min-height: 530px;
  background-color: #fff;
  color: #000;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image: url('../../../assets/2022/about-section/background.svg');
  background-size: contain;

  .section-heading {
    text-align: center;
    font-size: 2.8rem;
    color: #FC3150;
    // padding-top: 40px;
    margin-top: 0;
    margin-block-end: 0;
  }

  .section-content {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;

    .sponsors-container {
      margin-top: 30px;

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      grid-gap: 50px;

      max-width: 1100px;
      width: 60%;
      @media only screen and (max-width: 1700px) {
        width: 80%;
      }
      @media only screen and (max-width: 1024px) {
        width: 100%;
      }

      .sponsors-soon {
        font-size: 5rem;
        text-align: center;
      }

      .sponsor-image {
        cursor: pointer;
        padding: 20px 0;

        img {
          width: 300px;
          height: 200px;
          border: 3px solid #FC3150;
          transition: all ease-in-out 0.2s;

          &:hover {
            border: 3px solid darken(#FC3150, 20%);
            transition: all ease-in-out 0.2s;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    height: auto !important;

    .section-content {
      padding-bottom: 60px;

      .sponsors-container {
        width: 100%;
        grid-gap: 40px;

        .sponsors-soon {
          font-size: 2rem;
        }

        .sponsor-image {
          width: 40%;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 500px) {
    .section-content {
      margin-top: -30px;

      .sponsors-container {
        width: 75%;
        grid-gap: 0;

        .sponsor-image {
          width: 90%;
        }
      }
    }
  }
}
