@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}

* {
  box-sizing: border-box;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-tickets {
  height: auto !important;
  min-height: 650px;
  background-color: #fff;
  color: #000;
  padding: 0 5%;

  background-image: url('../../../assets/2022/about-section/background.svg');
  background-size: 100% 100%;

  .section-heading {
    text-align: center;
    font-size: 2.8rem;
    color: #FC3150;
    padding-top: 40px;
    margin-top: 0;
  }

  .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;

    .tickets-container {
      // max-width: 1250px;

      // width: 100%;
      // display: flex;
      // justify-content: space-evenly;
      // flex-wrap: wrap;

      width: fit-content;

      // display: grid;
      // grid-template-columns: 1fr 1fr 1fr 1fr;
      // justify-items: center;
      grid-gap: 15px;

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .tickets-availableSoon {
        font-size: 5rem;
        text-align: center;
      }

      width: 90%;
      @media only screen and (max-width: 1700px) {
        width: 100%;
      }

      .ticket {
        width: 380px;
        display: flex;
        flex-direction: column;
        background-color: #fff7f7;
        border: 8px solid #fff;
        border-radius: 50px;
        margin: 10px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        // unform height of each ticket
        height: 625px;
        @media only screen and (max-width: 1700px) {
          height: 550px;
        }
        @media only screen and (max-width: 768px) {
          height: auto;
        }

        .upper {
          display: flex;
          flex-direction: column;
          padding: 18px 20px 5px;

          h3 {
            margin: 0;
          }

          .category {
            h3 {
              width: fit-content;
              // background-color: #D1D1D1;
              border-radius: 8px;
              color: lighten(#FC3150, 10%);
              text-transform: uppercase;
              padding: 5px 10px;
            }
          }

          .price {
            margin-top: 5px;

            h3 {
              font-family: 'Poppins', sans-serif;
              font-weight: 700;
              font-size: 40px;
              color: #000;
            }
          }
        }

        .lower {
          width: 100%;
          min-height: 230px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex-grow: 1;
          background-color: #ffffff;
          padding: 20px;

          .description {
            ul {
              margin: 0;
              padding-left: 20px;

              li {
                font-size: 1.1rem;
              }
            }

            p {
              font-size: 1.1rem;
              margin: 0;
            }
          }

          .payment-link {
            display: flex;
            justify-content: center;
            margin-top: 18px;

            button {
              background-color: #fc3050;
              border: 3px solid #fc3050;
              border-radius: 30px;
              font-size: 1.1rem;
              font-weight: 600;
              color: #fff;
              text-transform: uppercase;
              padding: 9px 25px 6px;
              transition: all ease-in-out 0.5s;
              cursor: pointer;

              &:hover {
                background-color: #131313;
                border-color: #131313;
                color: #fff;
                transition: all ease-in-out 0.2s;
              }

              // hide default razorpay payment button
              position: relative;
              display: flex;
              justify-content: center;
              overflow: hidden;
              form {
                position: absolute;
                top: 0;
                opacity: 0;
              }
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 1700px) {
    height: auto !important;

    .section-content {
      .tickets-container {
        grid-template-columns: 1fr 1fr;

        .ticket {
          width: 420px;
        }
      }
    }
  }

  @media only screen and (max-width: 1024px) {
    height: auto !important;

    .section-content {
      .tickets-container {
        .ticket {
          width: 420px;
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    // display: none;
    height: auto !important;

    .section-content {
      .tickets-container {
        width: 70%;
        grid-template-columns: 1fr;
        
        .tickets-availableSoon{
          font-size: 3rem;
        }

        .ticket {
          width: 95%;
        }
      }
    }
  }

  @media only screen and (max-width: 425px) {
    .section-content {
      .tickets-container {
        width: 95%;
        grid-template-columns: 1fr;

        .ticket {
          width: 95%;
        }
      }
    }
  }
}
